{% extends '::base.html.twig' %}

{% block headermenu %}
<div id="header-menu">
    <div id="header-menu-content" class="centered" align="center">
        <ul class="ws_css_cb_menu videoCssMenu">
            <li>
                <a href="{{ path('static_page', { 'page': 'help' }) }}"><span class="inactive"><strong>Guía de Usuario</strong></span></a>
            </li>
            <li>
                <a href="{{ path('static_page', { 'page': 'about' }) }}"><span class="inactive"><strong>Sobre Nosotros</strong></span></a>
            </li>
            <li>
                <a href="{{ path('static_page', { 'page': 'legal' }) }}"><span><strong>Términos y Condiciones</strong></span></a>
            </li>
        </ul>
    </div>			
</div>
{% endblock %}

{% block container %}
<div id="wrapper-container" class="centered">
    <div id="search-row">
        <div class="search-center">
            <div class="search-text">
                <h1>
                    Términos y Condiciones
                </h1>   
            </div>    
        </div>
    </div>
    <div id="container-fixed">    
         <div class="container-text">
             <h3>1. Información general</h3>
             <p>Los presentes términos y condiciones regulan el acuerdo entre el Usuario y SportChecked.com (en adelante SportChecked, “el 
                 servicio” o “el sitio web”)  en relación a la utilización por parte de aquel del servicio ofrecido en 
                 <a href="http://sportchecked.com">www.sportchecked.com</a>
             </p>
             <p>Mediante la apertura de una cuenta o la utilización de cualquiera de los servicios ofrecidos por el sitio web, el Usuario confirma, 
                 plenamente y sin reservas, que entiende y acepta los presentes Términos y Condiciones así como la Política de Privacidad sin 
                 excepciones ni reservas de ningún tipo, así como el resto de información ofrecida por el sitio web, entrando de esta forma en 
                 vigor el acuerdo entre ambas partes.
             </p>
             <p>SportChecked con domicilio social en C/ Batle Gabriel Bibiloni Nº2, 2ºB, 07320 (Santa Maria del Camí, Islas Baleares) podrá 
                 modificar total o parcialmente los presentes Términos y Condiciones, así como el resto de información facilitada por el sitio web. 
                 Será responsabilidad del usuario revisar periódicamente los mismos.
             </p>
             <p>El objeto del Sitio Web es facilitar el acceso y utilización a los particulares y empresas (en adelante Usuario), con carácter 
                 gratuito, de los contenidos proporcionados por otros usuarios a través de la dirección electrónica, en particular, texto, enlaces, 
                 imágenes, fotografías y vídeos, así como, permitir que los usuarios promocionen sus productos y/o servicios, a través de dichos 
                 contenidos.  
             </p>
             <p>SportChecked se reserva el derecho a denegar al Usuario la utilización de sus servicios en cualquier momento y sin necesidad de 
                 preaviso a aquellos Usuarios que incumplan lo dispuesto en los presentes Términos y Condiciones, como en las especificadas para 
                 cada funcionalidad o cualquier otra sección incluida en el sitio web.
             </p>
             <h3>2. Información del usuario y claves de acceso</h3>
             <p>El Usuario facilitará al sitio web información cierta, actualizada y completa.</p>
             <p>El Usuario es consciente de que si la información proporcionada al sitio web es falsa, incorrecta o incompleta, será responsable 
                 frente a SportChecked de los daños y perjuicios ocasionados.
             </p>
             <p>Una vez efectuado por parte del Usuario el proceso de registro en el Portal, será responsabilidad única del Usuario el uso 
                 diligente de las claves de acceso.
             </p>
             <p>Cualquier incidencia negativa para el Usuario (pérdida, sustracción, robo, etc.) de las claves de acceso deberá ser comunicada al 
                 sitio web en el menor plazo posible con el fin de poder proceder a su desactivación.
             </p>
             <p>
                Está terminantemente prohibido que el Usuario permita a terceros la utilización de su cuenta. El sitio web no será responsable en 
                caso alguno de la utilización por parte de terceros de la cuenta del Usuario.
             </p>
             <p>El usuario está de acuerdo en mantener la información de contacto actualizada.</p>
             <h3>3. Comunicación electrónica</h3>
             <p>Cuando un Usuario visita SportChecked o nos envía un email, se establece una comunicación electrónica con nosotros. De forma 
                 implícita el Usuario expresa su consentimiento para recibir comunicaciones vía electrónica para informar sobre novedades en el 
                 sitio o para establecer de nuevo la comunicación con cualquier finalidad. El Usuario acepta todos los acuerdos, recibir noticias y 
                 en general cualquier tipo de comunicación enviada electrónicamente.
             </p>
             <h3>4. Contenido de terceras partes</h3>
             <p>Cualquier contenido publicado en este Sitio Web se encuentra protegido por la legislación en materia de propiedad intelectual, a 
                 título enunciativo y no limitativo: (i) las fotografías, imágenes y vídeos; (ii) los textos, comentarios o posts de los usuarios; 
                 (iii) los diseños o logotipos; (iv) los sonidos, vídeos, animaciones o grabaciones; (v) los programas de ordenador o códigos 
                 fuente; así como (vi) el propio sitio en su conjunto, como una obra artística multimedia.
             </p>
             <p>El usuario queda expresamente autorizado por SportChecked a visualizar, copiar, imprimir y almacenar, de cualquier forma, en su 
                 disco duro u otro soporte físico, los contenidos, siempre que ello se efectúe para fines personales o privados del usuario, sin 
                 finalidad comercial o de distribución y sin modificar, alterar o descompilar dichas creaciones. Cualquier otra utilización 
                 requerirá la autorización expresa y por escrito del autor del contenido.
             </p>
             <p>Los usuarios únicamente podrán incorporar al Sitio Web los contenidos sobre los que ostenten los correspondientes derechos de 
                 propiedad intelectual.
             </p>
             <p>Sin perjuicio de los derechos de propiedad intelectual que puedan corresponder, el usuario deberá poseer la debida autorización o 
                 autorizaciones en caso de suministrar al Sitio Web la imagen de una persona física. SportChecked no se hará responsable de los 
                 contenidos de terceros proporcionados por usuarios al Sitio Web siendo responsabilidad absoluta del Usuario. 
             </p>
             <p>Respecto a los contenidos que suministre el usuario al Sitio Web, éste cede los derechos de reproducción, comunicación pública y 
                 transformación a SportChecked de forma no exclusiva, con un ámbito internacional, para su uso en Internet, medios offline y para 
                 el plazo máximo permitido legalmente.
             </p>
             <p>El Usuario podrá encontrar en el Sitio Web enlaces que le conducirán a páginas webs propiedad de terceros, respetándose en todo 
                 caso, los derechos de propiedad intelectual que pudieran corresponder a sus autores. En este mismo sentido, el establecimiento de 
                 enlaces al Sitio Web deberá respetar los derechos de propiedad industrial e intelectual titularidad de ésta.
             </p>
             <p>Los enlaces existentes en el Sitio Web, permiten al usuario dirigirse a otro sitio web distinto independiente de SportChecked, 
                 sin que este último se haga responsable de los contenidos a los que el usuario acceda en virtud del mencionado enlace, ni de las 
                 modificaciones que se lleven a cabo en los mismos, ni el uso que de aquellos se realice, ni de la disponibilidad técnica de los 
                 mismos.  En consecuencia, SportChecked no garantiza que los enlaces a otras páginas Web sean exactos y correctos en el momento en 
                 el que el usuario del Sitio Web decida su utilización. En el momento en el que SportChecked tenga conocimiento de alguna ilicitud 
                 o lesión, procederá a suprimir o inutilizar el enlace correspondiente.
             </p>
             <p>En el caso de que el enlace dirija hacia el servicio de un tercero, como de visualización online de vídeo, entre otros servicios, 
                 el usuario se regirá por las condiciones estipuladas por este tercero que suministra el servicio en cuestión.
             </p>
             <h3>5. Anonimidad</h3>
             <p>Las informaciones, publicaciones, enlaces,  respuestas, perfiles, comentarios del Usuario comunicándose en el sitio web no son 
                 privados ni confidenciales, ni tampoco están protegidos; por ese motivo pueden ser leídos, recogidos y usados por otros. En 
                 concreto los buscadores pueden indexar las conversaciones. Para proteger la privacidad, es responsabilidad del Usuario proteger 
                 su privacidad o usar un nombre de Usuario ficticio que no incluya información que comprometa su identidad o información de 
                 contacto en las conversaciones.
             </p>
             <h3>6. Actividades restringidas</h3>
             <p>El Usuario está de acuerdo con que cualquier contenido proporcionado en el sitio web y el uso del propio sitio no debe:</p>
             <ul style="list-style:none;">
                 <li>a. Ser fraudulento, inadecuado o engañoso.</li>
                 <li>b. Infringir derechos de propiedad de terceras partes.</li>
                 <li>c. Ser ilegal o violar alguna ley del país, región o código ético.</li>
                 <li>d. Hacer competencia a SportChecked.</li>
                 <li>e. Difamar, acosar, calumniar, realizar alguna actividad ilegal.</li>
                 <li>f. Ser obsceno o contener pornografía infantil.</li>
                 <li>g. Contener virus, troyanos o cualquier código que pueda dañar, interferir o interceptar datos personales del sitio.</li>
                 <li>h. Responsabilizarnos o causarnos perder (entera o parcialmente) los servicios de nuestro proveedor de internet.</li>
                 <li>i. Enlazar directamente o incluir la descripción de bienes o servicios que están prohibidos en nuestros términos o sobre los 
                     que no se tienen derechos. Tampoco se permite el uso comercial del sitio para reventa.
                 </li>
             </ul>
             <p>Cualquier infracción en dichas actividades puede causar la suspensión temporal o definitiva de la cuenta. El Usuario puede 
                 terminar notificando vía email a <a href="mailto:info@sportchecked.com">info@sportchecked.com</a> Los términos serán de un máximo 
                 de 7 días laborables después de la recepción de la notificación. Después de eso la cuenta del Usuario será cerrada y no podrá 
                 disfrutar de acceso de nuevo.
             </p>
             <h3>7. Publicación</h3>
             <p>Los Usuarios son responsables de sus actos, omisiones y contenido en el sitio web. Debido a que SportChecked es un punto de 
                 encuentro, en el caso que el Usuario tenga una disputa con uno o más usuarios, libera a SportChecked y a todo su personal de 
                 reclamaciones, demandas y daños (actuales o a consecuencia) de cualquier naturaleza que surja de alguna forma relacionado con 
                 esas disputas.
             </p>
             <h3>8. Derechos de propiedad sobre el contenido</h3>
             <p>El Usuario reconoce que SportChecked y sus proveedores poseen los derechos del sitio web y  el contenido mostrado en el sitio. El 
                 Usuario no debería modificar, hacer ingeniería inversa, descompilar, desensamblar o intentar obtener el código fuente de la web 
                 de SportChecked, ni asistir o ayudar a cualquier entidad en su realización. El Usuario reconoce que todo el contenido, incluido 
                 pero no limitado al texto, software, música, sonido, fotografías, video, gráficos y otros materiales contenidos en los listados, 
                 anuncios patrocinados o distribuidos por email, presentado como SportChecked está protegido por derechos de autor y las leyes 
                 correspondientes. El Usuario no debe modificar, copiar, reproducir, republicar, subir, publicar, transmitir o distribuir de 
                 ninguna forma el contenido disponible a través del servicio, incluyendo el código y el software con propósito comercial. Para 
                 obtener el permiso de uso para materiales de terceras partes que aparecen en el sitio, contacta al dueño de los derechos. El 
                 Usuario no adquiere la propiedad de los derechos de cualquier contenido, documento o cualquier material visualizado a través del 
                 sitio. La publicación de información o materiales no constituye la renuncia a ningún derecho sobre esa información o materiales.
             </p>
             <p>El Usuario expresa su acuerdo en que las consultas en el sitio, materiales, ideas, comentarios y testimonios que envía al sitio 
                 web o derivados, incluyendo blogs, página de fans en Facebook, Twitter, Youtube y similares no será considerado confidencial y 
                 debe ser usado por SportChecked, a su propio criterio, sin ninguna obligación de compensar por su uso o la devolución de el 
                 material enviado. También está de acuerdo en que SportChecked posee, y tiene todos los derechos registrados de su nombre, marcas 
                 registradas para cualquier categoría que se crea en SportChecked; el Usuario no debe usar un nombre de categoría para su propio 
                 beneficio.
             </p>
             <p>El Usuario garantiza a SportChecked un derecho no exclusivo, irrevocable, perpetuo, sin royalties, publico y con derecho a usar, 
                 reproducir, visualizar, editar, copiar, modificar, transmitir, extraer y crear derivados, en las consultas y contenido del usuario.
             </p>
             <h3>9. Ausencia de relación con Usuarios</h3>
             <p>SportChecked puede tratar de presentar y dar a conocer a sus Usuarios productos y servicios ofrecidos por entidades totalmente 
                 externas a SportChecked. La localización de la información, logotipos, enlaces o nombres de esas entidades externas al sitio no 
                 constituyen una recomendación o garantía de esas entidades, sus productos o servicios. El Usuario asume responsabilidad total por 
                 la decisión de visitar o patrocinar cualquier entidad y eximen de cualquier responsabilidad a SportChecked.
             </p>
             <p>
                 El Usuario acepta que no se crea ninguna relación (asociación, agente, socio o empleado) entre el Usuario y SportChecked o entre 
                 el Usuario y cualquier usuario (incluyendo clientes y profesionales) y SportChecked por el presente acuerdo (o cualquier acuerdo 
                 relacionado) o por la participación del usuario en el sitio web. Es responsabilidad del usuario evaluar la precisión, completitud 
                 y uso de cualquier opinión, respuesta u otro contenido disponible a través del sitio, de terceras partes u obtenido de un sitio 
                 enlazado. Se recomienda al Usuario que busque el acuerdo de profesionales, según corresponda, sobre la evaluación de cualquier 
                 opinión, respuesta, producto, servicio o contenido específico
             </p>
             <h3>10. Información, control y almacenamiento</h3>
             <p>SportChecked no controla la información provista por los Usuarios, la cual podría ser ofensiva,  perjudicial, inadecuada, o 
                 engañosa. Se recomienda al Usuario que tenga precaución y haga uso del sentido común cuando participe en el sitio web. Existe 
                 riesgo de tratar con personas menores de edad como también con casos de comercio internacional o extranjero. Usando el sitio, 
                 aceptas los riesgos de que SportChecked no se responsabiliza de los actos u omisiones de los Usuarios en el sitio.
             </p>
             <p>El Usuario acepta que SportChecked no es responsable o culpable del borrado o fallo en almacenamiento del contenido u otra información.
             </p>
             <h3>11. Exclusión de garantías</h3>
             <p>Los servicios de SportChecked y los documentos relacionados son provistos sin garantía de ningún tipo, ni expresa ni explícita. 
                 Ninguna información, oral o escrita, obtenida por el Usuario por parte de SportChecked a través de este sitio debe crear ninguna 
                 garantía, representación o garantía no explicitada en estos términos. SportChecked no representa o garantiza que el servicio sea 
                 interrumpido o libre de errores, cuyos defectos serán corregidos, o que este sitio web o el servidor que se encarga de su 
                 disponibilidad, esté libre de virus u otras condiciones o componentes negativos. SportChecked no garantiza o representa que el 
                 uso o el resultado de usar los materiales disponibles a través del servicio, de terceras partes o de sitios enlazados sean 
                 correctos, precisos, disponibles en tiempo o cualquier motivo.
             </p>
             <p>En ninguna circunstancia SportChecked se hará responsable de ninguna pérdida o daño causado por la confianza del Usuario en la 
                 información obtenida a través del sitio, de terceras partes o un sitio web enlazado, o la confianza del Usuario en cualquier 
                 producto o servicio obtenido de una tercera parte o de un sitio enlazado. El uso del sitio web es a riesgo del usuario.
             </p>
             <p>Ninguna información, sea oral o escrita, obtenida por el Usuario a través de SportChecked o a través de los servicios de 
                 SportChecked crea ninguna garantía.
             </p>
             <h3>12. Limitación de obligaciones</h3>
             <p>En ningún caso SportChecked, sus causas, subsidiarios, directores, accionistas, empleados, agentes, consultores pueden ser 
                 culpables de algún daño indirecto, especial, accidental, consecuencia, moral o ejemplar (incluyendo y no limitado a pérdidas de 
                 negocio, beneficios, información, uso, ingresos o cualquier ventaja económica), derivados o relacionados con el sitio web, los 
                 servicios o los términos basados en alguna teoría, incluso si se ha advertido de la posibilidad de dichos daños. La limitación de 
                 daños precedentes es parte del trato entre el Usuario y el sitio web. El sitio web y su información pueden no ser proporcionada 
                 sin esas limitaciones. 
             </p>
             <p>El Usuario y SportChecked están de acuerdo en que cualquier acción que surja de o relacionada con el servicio debe comenzar en 
                 menos de 6 meses después de la causa (excepto por causas de acción que surjan de las responsabilidades de los Usuarios 
                 especificadas en la sección siguiente); en cualquier otro caso, la causa no aplica.
             </p>
             <h3>13. Indemnización</h3>
             <p>El Usuario está de acuerdo en indemnizar a SportChecked, sus causas, subsidiarios, directores, accionistas, empleados, asociados, 
                 consultores y cesionarios de todas las pérdidas, costes, deudas y gastos incluyendo gastos de abogados, impuesto por cualquier 
                 tercera parte como resultado de el mal uso del sitio o mala conducta.
             </p>
             <h3>14. Elección de legislación y resolución de disputas</h3>
             <p>El sitio web se rige por la legislación española. La normativa vigente determinará la jurisdicción que deba conocer de las 
                 relaciones entre SportChecked y los Usuarios del sitio web. Ello no obstante, en aquellos casos en los que dicha normativa 
                 vigente prevea la posibilidad para las partes de someterse a un fuero determinado, SportChecked y el Usuario, con renuncia 
                 expresa a cualquier otro fuero que pudiera corresponderles, se someten a los Juzgados y Tribunales de la ciudad de 
                 Palma de Mallorca.
             </p>
             <h3>15. Acuerdo</h3>
             <p>Los términos constituyen el acuerdo entre el Usuario y el sitio web. Los términos actuales reemplazan a cualquier contrato 
                 anterior o contemporáneo, oral o escrito, cualquier comunicación, representación, garantía y entendimiento relacionado con los 
                 términos. Si existe conflicto entre un acuerdo oral o escrito representado por algún empleado de SportChecked y los términos 
                 (aparte de las modificaciones de los términos escritas por el CEO o autorizadas en representación de SportChecked), los términos 
                 prevalecerán.  En la medida en que los términos entren en conflicto o sean inconsistentes con otros, los términos descritos en el 
                 presente documento prevalecerán para Clientes, para acuerdos profesionales y para política de privacidad prevalecerá para 
                 profesionales por encima de otros términos del sitio; también, este acuerdo, los acuerdos relacionados y advertencias 
                 prevalecerán por encima de los FAQs y otras reglas y políticas del sitio. 
             </p>
         </div>	
    </div>
</div>            
{% endblock %}

{% block footercenter %}
<div id="footer-loading">
    <img src="{{ asset('bundles/publication/images/app/loading.gif') }}"/>
</div>
{% endblock %}