<a id="buttonNew" href="{{ url('publication_new') }}" class="iframe">
    <div class="pub element element-empty-b">
        <div class="element-empty-image centered">
            <div class="element-empty-hidden centered">
                <img src="{{ asset('bundles/publication/images/app/add-grey-xl.png') }}"/>
                <p class="element-empty-p"><strong>Nueva publicación</strong></p>
            </div>
        </div>
    </div>
</a>        
