<a id="buttonNew" href="{{ url('board_new') }}" class="iframe">
    <div class="board element element-empty-b">
        <div class="element-empty-image centered">
            <div class="element-empty-hidden centered">
                <img src="{{ asset('bundles/publication/images/app/add-grey-xl.png') }}"/>
                <p><strong>Nueva carpeta</strong></p>
            </div>
        </div>
    </div>
</a>        
