<form action="{{ path('sport_search') }}" method="post" {{form_enctype(form) }}>
    {{ form_widget(form.text) }}
    <button type="submit" name="search" class="button-grey">Buscar deportes</button>    
</form>