<div id="header-menu">
    <div id="header-menu-content" class="centered" align="center">
        <ul class="ws_css_cb_menu videoCssMenu">
            <li>
                <a href="#">
                    <span><strong>Todos los deportes</strong></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="inactive"><strong>Deportes que sigues</strong></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="inactive"><strong>Deportes que no sigues</strong></span></a>
            </li>
        </ul>
    </div>			
</div>

