<a id="buttonNew" href="{{ url('list_new') }}" class="iframe">
    <div class="list element element-empty">
        <div class="element-empty-image centered">
            <div class="element-empty-hidden-l centered">
                <img src="{{ asset('bundles/publication/images/app/add-grey-xl.png') }}"/>
                <p><strong>Nueva lista</strong></p>
            </div>
        </div>
    </div>
</a>        
